main #main-search, main #main-search .search-bar, main #main-search .search-container, #main-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-restaurant #cardR1 #imgContainerR1, #main-restaurant #cardR1 #imgContainerR2, #main-restaurant #cardR2 #imgContainerR1, #main-restaurant #cardR2 #imgContainerR2, #main-restaurant #cardR3 #imgContainerR3, #main-restaurant #cardR3 #imgContainerR4, #main-restaurant #cardR4 #imgContainerR3, #main-restaurant #cardR4 #imgContainerR4 {
  height: 185px;
}

#main-restaurant #cardR1 #imgContainerR1 img, #main-restaurant #cardR1 #imgContainerR2 img, #main-restaurant #cardR2 #imgContainerR1 img, #main-restaurant #cardR2 #imgContainerR2 img, #main-restaurant #cardR3 #imgContainerR3 img, #main-restaurant #cardR3 #imgContainerR4 img, #main-restaurant #cardR4 #imgContainerR3 img, #main-restaurant #cardR4 #imgContainerR4 img {
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul {
  list-style: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;
}

button {
  outline: none;
  cursor: pointer;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: white;
}

.primary-color {
  color: #9356DC;
}

.secondary-color {
  color: #FF79DA;
}

.tertiary-color {
  color: #99E2D0;
}

.grey {
  color: grey;
}

.bg-greyLight {
  background-color: #EAEAEA;
}

.bd-greyLight {
  border-color: #EAEAEA;
}

.colorGradient {
  background-color: #FF79DA;
}

* {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

.wrapper {
  min-width: 345px;
  padding: 0 20px;
}

/*@MEDIA-WRAPPER*/
@media all and (min-width: 426px) and (max-width: 1024px) {
  .wrapper {
    padding: 0 30px;
  }
}

@media all and (min-width: 1025px) {
  .wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 50px;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header img {
  margin-left: auto;
  margin-right: auto;
  width: 160px;
  padding-top: 20px;
  padding-bottom: 10px;
}

#main-restaurant {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
      grid-template-areas: "title" "cardR1" "cardR2" "cardR3" "cardR4";
}

@media all and (min-width: 426px) {
  #main-restaurant {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "title title" "cardR1 cardR2" "cardR3 cardR4";
  }
}

#main-restaurant h2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
}

#main-restaurant #cardR1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: cardR1;
}

#main-restaurant #cardR2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: cardR2;
}

#main-restaurant #cardR3 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: cardR3;
}

#main-restaurant #cardR4 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: cardR4;
}

footer.wrapper {
  background-color: #353535;
}

footer.wrapper h3 {
  font-family: Shrikhand;
  color: white;
  font-weight: 100;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}

footer.wrapper ul {
  list-style: none;
}

footer.wrapper ul li {
  padding-top: 4px;
  padding-bottom: 4px;
}

footer.wrapper ul li i {
  color: white;
  padding-right: 5px;
}

footer.wrapper ul li a {
  color: white;
  text-decoration: none;
}

#btnSearch {
  color: white;
  border-radius: 25px;
  border: none;
  width: 215px;
  height: 50px;
  background: linear-gradient(-8deg, #9356DC, #FF79DA);
  cursor: pointer;
  -webkit-transition: all ease-in  0.3s;
  transition: all ease-in  0.3s;
  margin-top: 30px;
  margin-bottom: 20px;
}

#btnSearch:hover {
  opacity: 0.85;
  -webkit-box-shadow: 1px 2px 5px grey;
          box-shadow: 1px 2px 5px grey;
}

#btnSearch:focus {
  outline: none;
}

#btnOrder {
  color: white;
  border-radius: 25px;
  border: none;
  width: 180px;
  height: 50px;
  background: linear-gradient(-8deg, #9356DC, #FF79DA);
  cursor: pointer;
  -webkit-transition: all ease-in  0.3s;
  transition: all ease-in  0.3s;
}

#btnOrder:hover {
  opacity: 0.85;
  -webkit-box-shadow: 1px 2px 5px grey;
          box-shadow: 1px 2px 5px grey;
}

#btnOrder:focus {
  outline: none;
}

#main-step ul {
  margin-left: 15px;
}

#main-step ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 20px;
  margin-right: 32px;
  margin-bottom: 10px;
  padding-left: 28px;
  padding-right: 22px;
  font-weight: bold;
  height: 65px;
  width: 320px;
  -webkit-box-shadow: 3px 5px 5px #EAEAEA;
          box-shadow: 3px 5px 5px #EAEAEA;
  position: relative;
}

#main-step ul li .step-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 1.3rem;
  font-weight: lighter;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-color: #9356DC;
  margin-right: 10px;
  border: 2px solid #DEEBFF;
  position: absolute;
  left: -12px;
}

#main-step ul li i {
  padding-left: 10px;
  padding-right: 25px;
  font-size: 2rem;
}

#main-restaurant .restaurant-card {
  width: 100%;
  border-radius: 15px;
  -webkit-box-shadow: 1px 2px 5px #c2c2c2;
          box-shadow: 1px 2px 5px #c2c2c2;
}

#main-restaurant .restaurant-card .cardContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  margin-top: 8px;
  margin-left: 8px;
}

#main-restaurant .restaurant-card .cardContent .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main-restaurant .restaurant-card .cardContent h3 {
  font-weight: bold;
  margin-top: 10px;
  margin-left: 10px;
}

#main-restaurant .restaurant-card .cardContent span {
  margin-top: 5px;
  margin-left: 10px;
}

#main-restaurant .restaurant-card .cardContent i {
  margin-top: 10px;
  margin-right: 10px;
}

#main-restaurant .restaurant-card .cardContent a {
  position: relative;
  padding-top: 20px;
  margin-top: 10px;
  margin-right: 15px;
}

#main-restaurant .restaurant-card .cardContent a .icon {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

#main-restaurant .restaurant-card .cardContent a .icon-hover {
  opacity: 0;
  color: #FF79DA;
  font-size: 0rem;
}

#main-restaurant .restaurant-card .cardContent a .icon-default {
  opacity: 1;
  font-size: 2.4rem;
}

#main-restaurant .restaurant-card .cardContent a:hover .icon-hover,
#main-restaurant .restaurant-card .cardContent a:focus .icon-hover {
  opacity: 1;
  font-size: 2.4rem;
}

#main-restaurant #cardR1 #imgContainerR1, #main-restaurant #cardR1 #imgContainerR2, #main-restaurant #cardR2 #imgContainerR1, #main-restaurant #cardR2 #imgContainerR2 {
  position: relative;
}

#main-restaurant #cardR1 #imgContainerR1 .new, #main-restaurant #cardR1 #imgContainerR2 .new, #main-restaurant #cardR2 #imgContainerR1 .new, #main-restaurant #cardR2 #imgContainerR2 .new {
  font-size: 1.4rem;
  border-radius: 4px;
  background-color: #99E2D0;
  width: 85px;
  height: 30px;
  text-align: center;
  padding-top: 8px;
  color: #0A8D6D;
  position: absolute;
  top: 10px;
  right: 10px;
}

#main-menu a .cardMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 68px;
  border-radius: 12px;
  -webkit-box-shadow: 1px 2px 5px #c2c2c2;
          box-shadow: 1px 2px 5px #c2c2c2;
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#main-menu a .cardMenu .menu {
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin-right: auto;
  text-overflow: ellipsis;
}

#main-menu a .cardMenu .menu h3 {
  font-size: 1.7rem;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#main-menu a .cardMenu .menu .flexcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
}

#main-menu a .cardMenu .menu .flexcontainer .description {
  font-size: 1.4rem;
  margin-right: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#main-menu a .cardMenu .menu .flexcontainer .price {
  font-size: 1.5rem;
  color: #353535;
  font-weight: bold;
  margin-right: 20px;
}

#main-menu a .cardMenu .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #99E2D0;
  color: white;
  border-radius: 0 12px 12px 0;
  border: none;
  width: 0%;
  height: 68px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#main-menu a .cardMenu .check i {
  opacity: 0;
  margin: auto;
  font-size: 2rem;
  padding-top: 5px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#main-menu a:hover .cardMenu .menu {
  width: 80%;
}

#main-menu a:hover .cardMenu .check {
  width: 20%;
}

#main-menu a:hover .cardMenu .check i {
  opacity: 100%;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

#main-menu li {
  -webkit-animation: fadeIn 0.5s linear;
          animation: fadeIn 0.5s linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

#main-menu li:nth-child(1) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

#main-menu li:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

#main-menu li:nth-child(3) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

#main-menu li:nth-child(4) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

main #main-search {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #main-search .search-bar {
  -webkit-box-shadow: inset 0 5px 6px -5px #b8b7b7;
          box-shadow: inset 0 5px 6px -5px #b8b7b7;
  height: 50px;
  width: 100%;
  max-width: 1440px;
}

main #main-search .search-bar i {
  font-size: 1.6rem;
}

main #main-search .search-bar input {
  font-weight: bold;
  max-width: 145px;
  height: 25px;
  border: 0px solid;
  padding-left: 15px;
  padding-right: 15px;
}

main #main-search .search-bar input:focus {
  outline: none;
}

main #main-search .search-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #main-search .search-container h1 {
  font-size: 2.2rem;
  font-weight: bold;
  margin-top: 35px;
}

main #main-search .search-container h2 {
  font-weight: lighter;
  margin-top: 10px;
  font-size: 1.8rem;
}

main #main-step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #main-step h2 {
  font-size: 2.2rem;
  font-weight: bold;
  margin-top: 90px;
  margin-bottom: 20px;
}

main #main-restaurant {
  margin-top: 100px;
  margin-bottom: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

main #main-restaurant .loadingSpinner {
  position: absolute;
  top: -60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 142px;
  height: 40px;
  background: white;
  -webkit-filter: contrast(20);
          filter: contrast(20);
}

main #main-restaurant .loadingSpinner .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  background: #9356DC;
  border-radius: 50%;
  -webkit-animation-name: anim-dot;
          animation-name: anim-dot;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

main #main-restaurant .loadingSpinner .dots {
  margin-top: 12px;
  margin-left: 31px;
  -webkit-animation-name: anim-dots;
          animation-name: anim-dots;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

main #main-restaurant .loadingSpinner .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  background: #9356DC;
  border-radius: 50%;
}

@-webkit-keyframes anim-dot {
  50% {
    -webkit-transform: translateX(96px);
            transform: translateX(96px);
  }
}

@keyframes anim-dot {
  50% {
    -webkit-transform: translateX(96px);
            transform: translateX(96px);
  }
}

@-webkit-keyframes anim-dots {
  50% {
    -webkit-transform: translateX(-31px);
            transform: translateX(-31px);
  }
}

@keyframes anim-dots {
  50% {
    -webkit-transform: translateX(-31px);
            transform: translateX(-31px);
  }
}

main #main-restaurant h2 {
  font-size: 2.2rem;
  font-weight: bold;
}

#img-laPaletteDuGout {
  background-image: url("../images/restaurants/la-palette-du-gout.jpg");
}

#img-laNoteEnchantee {
  background-image: url("../images/restaurants/la-note-enchantee.jpg");
}

#img-aLaFrancaise {
  background-image: url("../images/restaurants/a-la-francaise.jpg");
}

#img-leDeliceDesSens {
  background-image: url("../images/restaurants/le-delice-des-sens.jpg");
}

.main-photo {
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: 50% 44%;
  background-repeat: no-repeat;
}

#main-menu {
  background-color: #EAEAEA;
  border-radius: 30px 30px 0 0;
  margin-top: -30px;
}

#main-menu .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-menu .flexContainer h1 {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 2.8rem;
  padding-top: 20px;
  padding-bottom: 0px;
  margin-top: 10px;
  margin-right: auto;
}

#main-menu .flexContainer a {
  position: relative;
  padding-top: 20px;
  margin-top: 10px;
  margin-right: 15px;
}

#main-menu .flexContainer a .icon {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

#main-menu .flexContainer a .icon-hover {
  opacity: 0;
  color: #FF79DA;
  font-size: 0rem;
}

#main-menu .flexContainer a .icon-default {
  opacity: 1;
  font-size: 2.4rem;
}

#main-menu .flexContainer a:hover .icon-hover,
#main-menu .flexContainer a:focus .icon-hover {
  opacity: 1;
  font-size: 2.4rem;
}

#main-menu h2 {
  font-weight: lighter;
  width: 38px;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
  margin-top: 35px;
}

#main-order {
  margin-top: 50px;
  padding-bottom: 70px;
}
/*# sourceMappingURL=main.css.map */