*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: white;
}

.primary-color {
  color: #9356DC;
}

.secondary-color {
  color: #FF79DA;
}

.tertiary-color {
  color: #99E2D0;
}

.bg-greyLight {
  background-color: #EAEAEA;
}

.bd-greyLight {
  border-color: #EAEAEA;
}

.colorGradient {
  background-color: #FF79DA;
}

* {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.wrapper {
  min-width: 345px;
  padding: 0 20px;
  background-color: #aaf578;
}

/*@MEDIA-WRAPPER*/
@media all and (min-width: 426px) and (max-width: 1024px) {
  .wrapper {
    padding: 0 30px;
    background-color: #f5d878;
  }
}

@media all and (min-width: 1025px) and (max-width: 2560px) {
  .wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 50px;
    background-color: grey;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header img {
  margin-left: auto;
  margin-right: auto;
}

header img, header i {
  width: 160px;
  padding-top: 20px;
  padding-bottom: 10px;
}

main #main-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #main-search .city-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

main #main-search .city-container i {
  font-size: 18px;
}

main #main-search .city-container input {
  font-weight: bold;
  width: 70%;
  max-width: 235px;
  height: 25px;
  border-style: solid;
  border-width: 0px;
  border-right: none;
  padding-left: 15px;
  padding-right: 15px;
}

main #main-search h1 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 35px;
}

main #main-search h2 {
  font-weight: lighter;
  margin-top: 10px;
  font-size: 18px;
}

main #main-search #btnSearch {
  color: white;
  border-radius: 25px;
  border: none;
  width: 210px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

main #main-operation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #main-operation h2 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 70px;
  margin-bottom: 20px;
}

main #main-operation li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 20px;
  margin-right: 32px;
  margin-bottom: 10px;
  padding-left: 28px;
  padding-right: 22px;
  font-weight: bold;
  height: 65px;
  width: 320px;
  -webkit-box-shadow: 3px 5px 5px #EAEAEA;
          box-shadow: 3px 5px 5px #EAEAEA;
  position: relative;
}

main #main-operation li .operation-icon {
  color: white;
  font-size: 13px;
  font-weight: lighter;
  height: 28px;
  width: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #9356DC;
  margin-right: 10px;
  border: 2px solid #DEEBFF;
  position: absolute;
  left: -12px;
}

main #main-operation li i {
  padding-left: 10px;
  padding-right: 30px;
  font-size: 20px;
  color: grey;
}

main #main-restaurant {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
      grid-template-areas: "title" "cardR1" "cardR2" "cardR3" "cardR4";
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

main #main-restaurant h2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  font-size: 22px;
  font-weight: bold;
}

main #main-restaurant .restaurant-card {
  width: 100%;
  border-radius: 15px;
  -webkit-box-shadow: 1px 2px 5px #c2c2c2;
          box-shadow: 1px 2px 5px #c2c2c2;
}

main #main-restaurant .restaurant-card .cardContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  margin-top: 8px;
  margin-left: 8px;
}

main #main-restaurant .restaurant-card .cardContent .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #main-restaurant .restaurant-card .cardContent h3 {
  font-weight: bold;
  margin-top: 10px;
  margin-left: 10px;
}

main #main-restaurant .restaurant-card .cardContent span {
  margin-top: 5px;
  margin-left: 10px;
}

main #main-restaurant .restaurant-card .cardContent i {
  font-weight: bold;
  font-style: regular;
  margin-top: 10px;
  margin-right: 10px;
}

main #main-restaurant #cardR1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: cardR1;
}

main #main-restaurant #cardR1 #imgContainerR1 {
  height: 185px;
  position: relative;
}

main #main-restaurant #cardR1 #imgContainerR1 img {
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

main #main-restaurant #cardR1 #imgContainerR1 .new {
  font-size: 14px;
  border-radius: 4px;
  background-color: #99E2D0;
  width: 85px;
  height: 30px;
  text-align: center;
  padding-top: 8px;
  color: #0A8D6D;
  position: absolute;
  top: 10px;
  right: 10px;
}

main #main-restaurant #cardR2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: cardR2;
}

main #main-restaurant #cardR2 #imgContainerR2 {
  height: 185px;
  position: relative;
}

main #main-restaurant #cardR2 #imgContainerR2 img {
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

main #main-restaurant #cardR2 #imgContainerR2 .new {
  font-size: 14px;
  border-radius: 4px;
  background-color: #99E2D0;
  width: 85px;
  height: 30px;
  text-align: center;
  padding-top: 8px;
  color: #0A8D6D;
  position: absolute;
  top: 10px;
  right: 10px;
}

main #main-restaurant #cardR3 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: cardR3;
}

main #main-restaurant #cardR3 #imgContainerR3 {
  height: 185px;
}

main #main-restaurant #cardR3 #imgContainerR3 img {
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

main #main-restaurant #cardR4 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: cardR4;
}

main #main-restaurant #cardR4 #imgContainerR4 {
  height: 185px;
}

main #main-restaurant #cardR4 #imgContainerR4 img {
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

footer.wrapper {
  background-color: #353535;
}

footer.wrapper h3 {
  font-family: Shrikhand;
  color: white;
  font-weight: 100;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}

footer.wrapper ul {
  list-style: none;
}

footer.wrapper ul li {
  padding-top: 4px;
  padding-bottom: 4px;
}

footer.wrapper ul li i {
  color: white;
  padding-right: 5px;
}

footer.wrapper ul li a {
  color: white;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */